body {
    background-color: rgb(253, 152, 152);
}
header {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    img {
        width: 50px;
        margin-top: -2%;
    }
}
div1 {
    display: flex;
    flex-direction: column; 
}
div2 {
    display: table-row;
}
footer {
    background-color: black;
}
.footer img {
    max-width: 50px;
}

div h1 {
    text-align: center;
    font-size: 450%;
}

.Objetivo {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size: 21px;
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
