header {
    text-align: center;
    background-color: rgb(172, 252, 148);
    img {
        width: 50px;
        
    }
}
div1 {
    display: flex;
    flex-direction: column;
     
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
